@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("M../fonts/ontserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Norwester-Regular.woff2") format("woff2"), url("../fonts/Norwester-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
}
.header__shipping {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #466660;
}
.header__shipping a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s;
}
.header__shipping a:hover {
  color: ff0000;
}
.header__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0 35px 0;
}
.header__search {
  position: relative;
}
.header__search button {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border-left: 1px solid #000;
  border-radius: 50px;
  cursor: pointer;
}
.header__search button img {
  max-width: 100%;
}
.header__logo img {
  max-width: 100%;
}
.header__signin {
  display: flex;
  align-items: center;
}
.header__signin a {
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}
.header__signin a:first-child {
  padding-left: 0;
}
.header__img-card {
  position: relative;
}
.header__img-card img {
  padding-left: 24px;
}
.header__img-card:after {
  content: "";
  position: absolute;
  top: 12px;
  right: -15px;
  border-left: 1px solid #3C4146;
  border-bottom: 1px solid #3C4146;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
}
.header__nav-list {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.header__nav-item {
  margin-right: 29px;
}
.header__nav-item a {
  font-size: 16px;
  font-weight: 700;
  color: #466660;
  width: 100%;
  position: relative;
}
.header__nav-item a::before {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 0;
  left: 0;
  height: 3px;
  transition: all 0.3s;
  background-color: #FB5018;
  color: #fff;
}
.header__nav-item a:hover::before {
  width: 100%;
}

.headerBottomMenu {
  margin-bottom: 40px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
}
.headerBottomMenu__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBottomMenu__menu-item {
  margin-right: 47px;
  color: #466660;
  font-weight: 300;
}

.offers__left-img {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.offers__left-img a {
  margin-bottom: 16px;
}
.offers__img {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 400;
}

.overflow {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #111;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1550px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.caption {
  font-size: 48px;
  display: block;
  font-weight: 700;
  color: #16182D;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif, Arial;
  background-color: #FB5018;
  border-radius: 16px;
  text-align: center;
  padding: 13px 27px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #0000FF;
}

.--hover__btn:hover {
  background-color: #1ed013;
}

input[type=text] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #cccc;
  background: none;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #111;
  transition: all 0.2s;
}
@media (max-width: 490px) {
  input[type=text] {
    font-size: 12px;
  }
}
input[type=text]::placeholder {
  color: #000;
}
input[type=text]:focus {
  border-color: #282b31;
}

input[type=search] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 22px;
  border: none;
  border: 1px solid #000;
  border-radius: 50px;
  background: none;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #3C4146;
  transition: all 0.2s;
}
@media (max-width: 490px) {
  input[type=search] {
    font-size: 12px;
  }
}
input[type=search]::placeholder {
  color: #3C4146;
  font-weight: 500;
}

input[type=file] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 24px;
  border: 2px dashed #cccc;
  background: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
}
input[type=file]::placeholder {
  color: #FFFFFF;
}
input[type=file]:focus {
  border-color: #282b31;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  width: 100%;
  padding: 15px 40px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  border: 2px dashed #FFFFFF;
  background: none;
  border-radius: 5px;
  display: inline-block;
}

textarea {
  display: block;
  width: 100%;
  height: 210px;
  resize: none;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #cccc;
  background: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  transition: all 0.2s;
}
@media (max-width: 490px) {
  textarea {
    font-size: 12px;
  }
}
textarea::placeholder {
  color: #000;
}
textarea:focus {
  border-color: #282b31;
}

select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  background: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  transition: all 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
@media (max-width: 490px) {
  select {
    font-size: 12px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}