@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("M../fonts/ontserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Norwester-Regular.woff2") format("woff2"), url("../fonts/Norwester-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: #fff;
  padding-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
}
.header__shipping {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #466660;
}
.header__shipping a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s;
}
.header__shipping a:hover {
  color: ff0000;
}
.header__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 84px 0 60px 0;
  position: relative;
}
@media (max-width: 500px) {
  .header__content {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 50px 0 50px 0;
  }
}
.header__search {
  position: relative;
  width: 327px;
}
@media (max-width: 1024px) {
  .header__search {
    width: 250px;
  }
}
.header__search button {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 100%;
  border-left: 1px solid #000;
  border-radius: 50px;
  cursor: pointer;
}
.header__search button img {
  max-width: 100%;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -5px;
}
@media (max-width: 500px) {
  .header__logo {
    position: static;
    transform: none;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.header__logo img {
  max-width: 100%;
}
.header__signin {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .header__signin {
    margin-bottom: 20px;
  }
}
.header__signin a {
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}
.header__signin a:first-child {
  padding-left: 0;
}
@media (max-width: 1024px) {
  .header__signin a {
    font-size: 14px;
  }
}
.header__img-card {
  position: relative;
  cursor: pointer;
}
.header__img-card img {
  padding-left: 24px;
  max-width: 100%;
}
.header__img-card:after {
  content: "";
  position: absolute;
  top: 12px;
  right: -18px;
  border-left: 1px solid #3C4146;
  border-bottom: 1px solid #3C4146;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
}
.header__card-list {
  display: none;
  position: absolute;
  z-index: 1;
  width: 350px;
  top: 130px;
  right: 0;
  border-top: 6px solid #000000;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  right: 0;
  padding: 15px 18px 10px 18px;
  background-color: #fff;
  cursor: auto;
  transition: all 0.3s;
}
.header__card-list::before {
  content: "";
  position: absolute;
  top: -21px;
  width: 5px;
  right: 26px;
  border: 8px solid;
  border-color: transparent transparent #000000 transparent;
}
.header__card-list:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
.header__card-list ul li {
  padding: 27px 0 18px;
}
.header__card-list.active {
  display: block;
}
.header__card-closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.header__card-closeBtn span:first-child {
  position: absolute;
  display: block;
  width: 2px;
  height: 15px;
  background-color: #000;
  transform: rotate(45deg);
}
.header__card-closeBtn span:last-child {
  position: absolute;
  display: block;
  width: 2px;
  height: 15px;
  background-color: #000;
  transform: rotate(-45deg);
}
.header__burger-position {
  display: none;
}
@media (max-width: 1024px) {
  .header__burger-position {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 15px;
  }
}
.header__btn-menu {
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 30;
}
.header__btn-menu.active span:nth-child(1) {
  top: 1px;
  transform: rotate(-45deg);
  background-color: #fff;
}
.header__btn-menu.active span:nth-child(2) {
  opacity: 0;
}
.header__btn-menu.active span:nth-child(3) {
  top: 1px;
  transform: rotate(45deg);
  background-color: #fff;
}
.header__btn-menu span {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 15;
  background-color: #fff;
}
.header__btn-menu span:nth-child(2) {
  top: 7px;
}
.header__btn-menu span:nth-child(3) {
  top: 14px;
}
.header__wrap-nav {
  position: relative;
}
@media (max-width: 1024px) {
  .header__wrap-nav {
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    position: fixed;
    z-index: 20;
    overflow: auto;
    padding: 100px 0;
    background-color: #fff;
    transition: all 0.3s;
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
  }
}
.header__wrap-nav.active {
  left: 0;
}
.header__nav {
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .header__nav {
    height: 100%;
  }
}
.header__nav-list {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .header__nav-list {
    flex-direction: column;
    justify-content: start;
    width: 100%;
  }
}
.header__nav-item {
  margin-right: 38px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .header__nav-item {
    margin-right: 0;
    border-bottom: 1px solid #dddddd;
    padding: 13px 36px 13px 15px;
    color: #777777;
    position: relative;
  }
}
.header__nav-item a {
  font-size: 16px;
  font-weight: 700;
  color: #466660;
  width: 100%;
  position: relative;
}
@media (max-width: 1024px) {
  .header__nav-item a {
    font-size: 14px;
    font-weight: 500;
    color: #777777;
    display: block;
  }
}
.header__nav-item a:hover {
  overflow: visible;
  opacity: 1;
}
.header__nav-item a::before {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 0;
  left: 0;
  height: 3px;
  transition: all 0.3s;
  background-color: #FB5018;
  color: #fff;
}
@media (max-width: 1024px) {
  .header__nav-item a::before {
    position: static;
  }
}
.header__nav-item a:hover::before {
  width: 100%;
}
.header__nav-item:hover .header__submenu {
  opacity: 1;
  overflow: visible;
  z-index: 2;
}
@media (max-width: 1024px) {
  .header__nav-item:hover .header__submenu {
    position: static;
  }
}
.header__submenu {
  padding-top: 20px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
  z-index: -2;
}
.header__submenu li {
  background-color: #F4F4F4;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  min-height: 400px;
  width: 65%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 0 0 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__submenu {
    max-height: 100%;
    width: 100%;
    display: none;
  }
}

.headerBottomMenu {
  background-color: #fff;
  margin-bottom: 40px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
}
.headerBottomMenu__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerBottomMenu__menu-item {
  margin-right: 47px;
  color: #466660;
  font-weight: 300;
}
.headerBottomMenu__menu-item:last-child {
  margin-right: 0;
}

.offers {
  margin-bottom: 90px;
}
.offers__wrap {
  display: flex;
  flex-direction: column;
}
.offers__top-banner {
  margin-bottom: 20px;
}
.offers__top-banner img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.offers__img {
  display: flex;
}
@media (max-width: 530px) {
  .offers__img {
    flex-direction: column;
  }
}
.offers__left-img {
  width: 34%;
  margin-right: 20px;
}
@media (max-width: 530px) {
  .offers__left-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.offers__left-img a {
  margin-bottom: 16px;
  display: block;
}
.offers__left-img a:last-child {
  margin-bottom: 0;
}
.offers__left-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}
@media (max-width: 530px) {
  .offers__left-img img {
    width: 100%;
  }
}
.offers__right-img {
  width: 66%;
}
@media (max-width: 530px) {
  .offers__right-img {
    width: 100%;
  }
}
.offers__right-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.foryou {
  margin-bottom: 94px;
}
.foryou__descr {
  margin-bottom: 13px;
  text-align: center;
}
.foryou__capt {
  text-align: center;
  position: relative;
}
.foryou__capt::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -22px;
  width: 89px;
  height: 9px;
  background-color: #B6C4A2;
}
.foryou__slider {
  display: flex;
  width: calc(100% + 30px);
  padding: 0 15px;
  margin: 0 -15px;
  overflow: hidden;
}
.foryou__slider-items {
  padding: 0 15px;
  transition: all 0.1s;
}
.foryou__slider-items img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.foryou__slider-items:hover {
  transform: scale(1.1);
}
.foryou__items-inner {
  background-color: #fff;
  padding: 21px 35px;
  box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.2);
}
.foryou__items-inner p {
  font-weight: 700;
  color: #B6C4A2;
  margin-bottom: 20px;
}
.foryou__prise-club {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.foryou__prise-club::after {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0;
  display: block;
  width: 100%;
  border-bottom: 1px dotted #ccc;
}
.foryou__karlsclub {
  color: #dd5638;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 0 5px 0 0px;
}
.foryou__value, .foryou__prise {
  font-weight: 700;
  color: #dd5638;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 0 0 0 5px;
}
.foryou__prise {
  color: inherit;
}
.foryou__prise-nonmambers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}
.foryou__prise-nonmambers::after {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0;
  display: block;
  width: 100%;
  border-bottom: 1px dotted #ccc;
}
.foryou__nonemambers {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 0 5px 0 0px;
}
.foryou__appraisal {
  display: flex;
  justify-content: space-between;
}
.foryou__appraisal span {
  font-weight: 500;
  text-transform: uppercase;
  color: #B6C4A2;
}
.foryou__decor {
  position: absolute;
  bottom: -140px;
  right: -75px;
  z-index: -1;
}
.foryou__decor img {
  max-width: 100%;
  max-height: 100%;
}

.bestsellers {
  margin-bottom: 154px;
}
.bestsellers__descr {
  margin-bottom: 11px;
  text-align: center;
}
.bestsellers__capt {
  position: relative;
  text-align: center;
}
.bestsellers__capt::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -22px;
  width: 89px;
  height: 9px;
  background-color: #B6C4A2;
}
.bestsellers__slider {
  display: flex;
  width: calc(100% + 30px);
  padding: 0 15px;
  margin: 0 -15px;
  overflow: hidden;
}
.bestsellers__slider-items {
  width: 25%;
  padding: 0 15px;
  transition: all 0.1s;
}
.bestsellers__slider-items img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.bestsellers__slider-items:hover {
  transform: scale(1.1);
}
.bestsellers__items-inner {
  background-color: #fff;
  padding: 21px 35px;
  box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.2);
}
.bestsellers__items-inner p {
  font-weight: 700;
  color: #B6C4A2;
  margin-bottom: 20px;
}
.bestsellers__prise-club {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.bestsellers__prise-club::after {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0;
  display: block;
  width: 100%;
  border-bottom: 1px dotted #ccc;
}
.bestsellers__karlsclub {
  color: #dd5638;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 0 5px 0 0px;
}
.bestsellers__value, .bestsellers__prise {
  font-weight: 700;
  color: #dd5638;
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 0 0 0 5px;
}
.bestsellers__prise {
  color: inherit;
}
.bestsellers__prise-nonmambers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}
.bestsellers__prise-nonmambers::after {
  content: "";
  position: absolute;
  bottom: 25%;
  left: 0;
  display: block;
  width: 100%;
  border-bottom: 1px dotted #ccc;
}
.bestsellers__nonemambers {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 0 5px 0 0px;
}
.bestsellers__appraisal {
  display: flex;
  justify-content: space-between;
}
.bestsellers__appraisal span {
  font-weight: 500;
  text-transform: uppercase;
  color: #B6C4A2;
}
.bestsellers__decor {
  position: absolute;
  top: 100px;
  left: -75px;
  z-index: -1;
}
.bestsellers__decor img {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  padding: 150px 0 0 0;
  background-image: url(../img/footer_counture.png);
  background-repeat: no-repeat;
  background-position: 75% top;
}
@media (max-width: 1024px) {
  .footer {
    font-size: 14px;
  }
}
.footer__wrap {
  display: flex;
  flex-direction: column;
}
.footer__col-wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer__col-wrap {
    flex-direction: column;
    padding: 20px 0;
  }
}
.footer__col {
  width: 25%;
}
@media (max-width: 1024px) {
  .footer__col {
    width: 100%;
    margin-bottom: 50px;
  }
}
.footer__col-caption {
  color: #fff;
  font-weight: 700;
  margin-bottom: 52px;
}
@media (max-width: 1024px) {
  .footer__col-caption {
    font-size: 16px;
  }
}
.footer__col-items {
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .footer__col-items:last-child {
    margin-bottom: 0;
  }
}
.footer__col-items a {
  color: #fff;
  font-weight: 500;
}
.footer__col-items a:hover {
  text-decoration: underline;
}
.footer__col-items-strong {
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer__col-items-icon {
  display: flex;
}
.footer__col-items-icon img {
  padding-right: 20px;
  max-width: 100%;
}
.footer__col-input {
  position: relative;
}
@media (max-width: 1024px) {
  .footer__col-input {
    width: 60%;
  }
}
@media (max-width: 320px) {
  .footer__col-input {
    width: 100%;
  }
}
.footer__col-input button {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border-left: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
}
.footer__col-input button img {
  max-width: 100%;
}
.footer__cards {
  background-color: #466660;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}
@media (max-width: 700px) {
  .footer__cards {
    flex-direction: column;
  }
}
.footer__cards::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -99999px;
  left: -99999px;
  height: 1px;
  background-color: #fff;
}
.footer__cards img {
  vertical-align: bottom;
  max-width: 100%;
}
@media (max-width: 700px) {
  .footer__cards-link {
    margin-bottom: 20px;
  }
}
.footer__cards-link a {
  padding-right: 24px;
  color: #fff;
}
.footer__cards-payment {
  color: #fff;
}
.footer__cards-payment span {
  padding-right: 12px;
}
@media (max-width: 410px) {
  .footer__cards-payment span {
    display: block;
    margin-bottom: 20px;
  }
}
.footer__copyrigh {
  border-top: 1px solid #fff;
  background-color: #2E4A44;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.footer__copyrigh span {
  color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif, Arial;
  font-weight: 400;
  background-color: #FFF5EA;
  background-image: url(../img/bc.png);
  background-repeat: repeat;
}

.overflow {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #111;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1485px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.caption {
  font-size: 80px;
  font-family: "Norwester", sans-serif;
  display: block;
  font-weight: 400;
  color: #466660;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .caption {
    font-size: 70px;
  }
}
@media (max-width: 500px) {
  .caption {
    font-size: 50px;
  }
}

.descr {
  color: #3C4146;
  font-weight: 500;
  text-transform: uppercase;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif, Arial;
  background-color: #FB5018;
  border-radius: 16px;
  text-align: center;
  padding: 13px 27px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #0000FF;
}

.--hover__btn:hover {
  background-color: #1ed013;
}

input[type=search],
input[type=text] {
  display: block;
  width: 100%;
  height: 39px;
  padding: 10px 22px;
  border: none;
  border: 1px solid #000;
  border-radius: 50px;
  background: none;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #3C4146;
  transition: all 0.2s;
}
@media (max-width: 490px) {
  input[type=search],
input[type=text] {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  input[type=search],
input[type=text] {
    font-size: 14px;
  }
}
input[type=search]::placeholder,
input[type=text]::placeholder {
  color: #3C4146;
  font-weight: 500;
}
input[type=search]:focus,
input[type=text]:focus {
  box-shadow: 0 0 3px 1px #68a8e0;
}

input[type=text] {
  border: 1px solid #fff;
  color: #fff;
}
input[type=text]::placeholder {
  color: #fff;
  font-weight: 500;
}

input[type=file] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 24px;
  border: 2px dashed #cccc;
  background: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
}
input[type=file]::placeholder {
  color: #FFFFFF;
}
input[type=file]:focus {
  border-color: #282b31;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

textarea {
  display: block;
  width: 100%;
  height: 210px;
  resize: none;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #cccc;
  background: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  transition: all 0.2s;
}
@media (max-width: 490px) {
  textarea {
    font-size: 12px;
  }
}
textarea::placeholder {
  color: #000;
}
textarea:focus {
  border-color: #282b31;
}

select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  background: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  transition: all 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
@media (max-width: 490px) {
  select {
    font-size: 12px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.arrow a::after {
  content: "";
  transform: rotate(-45deg);
  position: absolute;
  top: 3px;
  right: -15px;
  display: block;
  border-bottom: 2px solid #B6C4A2;
  border-left: 2px solid #B6C4A2;
  border-radius: 2px;
  width: 8px;
  height: 8px;
  transition: all 0.3s;
}
@media (max-width: 1024px) {
  .arrow a::after {
    right: 0;
    display: block;
  }
}
.arrow a:hover:after {
  transform: rotate(135deg);
  top: 5px;
}

.slider {
  position: relative;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: visible;
  padding: 68px 0;
  min-width: 0;
}

.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  font-size: 0;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.slick-arrow.slick-prev {
  left: -20px;
}
@media (max-width: 1024px) {
  .slick-arrow.slick-prev {
    left: 0;
    z-index: 1;
  }
}
.slick-arrow.slick-prev::after {
  content: "";
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #B6C4A2;
  border-left: 3px solid #B6C4A2;
  transform: rotate(45deg);
  display: block;
}

.slick-arrow.slick-next {
  right: -20px;
}
@media (max-width: 1024px) {
  .slick-arrow.slick-next {
    right: 0;
    z-index: 1;
  }
}
.slick-arrow.slick-next::after {
  content: "";
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #B6C4A2;
  border-right: 3px solid #B6C4A2;
  transform: rotate(-45deg);
  display: block;
}

.slick-slide .foryou__items-inner {
  box-shadow: none;
  transition: box-shadow 0.1s ease-in-out;
}

.slick-slide.slick-active .foryou__items-inner {
  box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.2);
}

.slick-slide .bestsellers__items-inner {
  box-shadow: none;
  transition: box-shadow 0.1s ease-in-out;
}

.slick-slide.slick-active .bestsellers__items-inner {
  box-shadow: 3px 3px 30px 0px rgba(0, 0, 0, 0.2);
}