
.footer {
    padding: 150px 0 0 0;
    background-image: url(../img/footer_counture.png);
    background-repeat: no-repeat;
    background-position: 75% top;
    @include b(tablet) {
        font-size: 14px;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__col-wrap {
        display: flex;
        justify-content: space-between;
        @include b(tablet) {
            flex-direction: column;
            padding: 20px 0;
        }
    }

    &__col {
        width: 25%;
        @include b(tablet) {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    &__col-caption {
        color: #fff;
        font-weight: 700;
        margin-bottom: 52px;
        @include b(tablet) {
            font-size: 16px;
        }
    }

    &__col-items {
        color: #fff;
        font-weight: 500;
        margin-bottom: 20px;
        @include b(tablet) {
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            color: #fff;
            font-weight: 500; 
        }
    }

    &__col-items-strong{
        color: #fff;
        font-weight: 700;
        margin-bottom: 20px;
        
    }

    &__col-items-icon{
        display: flex;
        img {
            padding-right: 20px;
            max-width: 100%;
        }
    }

    &__col-input{
        position: relative;
        @include b(tablet) {
            width: 60%;
        }
        @include b(320) {
            width: 100%;
        }
        button {
            border: none;
            background: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 100%;
            border-left: 1px solid #fff;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 50px;
            cursor: pointer;
            
            img {
                max-width: 100%;
            }
        }
    }

    &__cards {
        background-color: #466660;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        position: relative;
        @include b(700) {
            flex-direction: column;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: -99999px;
            left: -99999px;
            height: 1px;
            background-color: #fff;
        }
        img {
            vertical-align: bottom;
            max-width: 100%;
        }
    }

    &__cards-link {
        @include b(700) {
            margin-bottom: 20px;
        }
        a {
            padding-right: 24px;
            color: #fff;
        }
    }

    &__cards-payment {
        color: #fff;
        span {
            padding-right: 12px; 
            @include b(410) {
                display: block;
                margin-bottom: 20px;
            }
        }
    }

    &__copyrigh {
        border-top: 1px solid #fff;
        background-color: #2E4A44;
        display: flex;
        justify-content: center;
        padding: 30px 0;
        span {
            color: #fff;
        }
    }
}
