.header {
    background-color: #fff;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
    &__shipping {
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #466660;
            a {
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                @include trs;

                &:hover {
                    color: ff0000;
                }
            }

    }

    &__wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 84px 0 60px 0;
        position: relative;
        @include b(500) {
            flex-direction: column-reverse;
            justify-content: center;
            padding: 50px 0 50px 0;
        }
    }

    &__search {
        position: relative;
        width: 327px;
        @include b(tablet) {
            width: 250px;
        }
        button {
            border: none;
            background: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 38px;
            height: 100%;
            border-left: 1px solid #000;
            border-radius: 50px;
            cursor: pointer;
            
            img {
                max-width: 100%;
            }
        }
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        margin-top: -5px;
        @include b(500) {
            position: static;
            transform: none;
            margin-top: 0;
            margin-bottom: 20px;
        }
        img {
            max-width: 100%;
        }
    }

    &__signin {
        display: flex;
        align-items: center;
        padding-right: 20px;
        @include b(500) {
            margin-bottom: 20px;
        }
            a {
                font-size: 16px;
                font-weight: 500;
                padding-left: 10px;
                &:first-child {
                    padding-left: 0;
                }
                @include b(tablet) {
                   font-size: 14px;
                }
            }

            
    }

    &__img-card {
        position: relative;
        cursor: pointer;
        img {
            padding-left: 24px;
            max-width: 100%;

        }
        &:after {
            content: '';
            position: absolute;
            top: 12px;
            right: -18px;
            border-left: 1px solid #3C4146;
            border-bottom: 1px solid #3C4146;
            width: 8px;
            height: 8px;
            transform: rotate(-45deg);
        }
    }

    &__card-list{
        display: none;
        position: absolute;
        z-index: 1;
        width: 350px;
        top: 130px;
        right: 0;
        border-top: 6px solid #000000;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        right: 0;
        padding: 15px 18px 10px 18px;
        background-color: #fff;
        cursor: auto;
        @include trs;
        &::before {
            content: '';
            position: absolute;
            top: -21px;
            width: 5px;
            right: 26px;
            border: 8px solid;
            border-color: transparent transparent #000000 transparent;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            
        }
        ul {
            li {
                padding: 27px 0 18px;
            }
        }
        &.active {
            display: block;
        }
    }

    &__card-closeBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        span {
            &:first-child {
                position: absolute;
                display: block;
                width: 2px;
                height: 15px;
                background-color: #000;
                transform: rotate(45deg); 
            }
            &:last-child {
                position: absolute;
                display: block;
                width: 2px;
                height: 15px;
                background-color: #000;
                transform: rotate(-45deg); 
            }
        }
    }

    &__burger-position {
        display: none;
        @include b(tablet) {
            display: block;
            position: absolute;
            right: 0;
            margin-right: 15px;
        }
    }

    &__btn-menu {
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 30;
        &.active {


            span {
                
                &:nth-child(1){
                    top: 1px;
                    transform: rotate(-45deg);
                    background-color: #fff;
                }
                        
                &:nth-child(2) {
                    opacity: 0;
                }
            
                &:nth-child(3) {
                    top: 1px;
                    transform: rotate(45deg);
                    background-color: #fff;
                }

            } 
        }

        span {
            @include trs;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            z-index: 15;
            background-color: #fff;
            &:nth-child(2) {
                top: 7px;
            }
            &:nth-child(3) {
                top: 14px;
            }

        }
    }

    &__wrap-nav {
        position: relative;
        @include b(tablet) {
            top: 0;
            left: -100%;
            width: 60%;
            height: 100%;
            position: fixed;
            z-index: 20;
            overflow: auto;
            padding: 100px 0;
            background-color: #fff;
            @include trs;
            box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
        }
        &.active {
            left: 0;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        @include b(tablet) {
            height: 100%;
        }
        
    }

    &__nav-list {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        @include b(tablet) {
            flex-direction: column;
            justify-content: start;
            width: 100%;
         }
        
    }

    &__nav-item {
        margin-right: 38px;
        &:last-child {
            margin-right: 0;
        }
        @include b(tablet) {
            margin-right: 0;
            border-bottom: 1px solid #dddddd;
            padding: 13px 36px 13px 15px;
            color: #777777;
            position: relative;
        }
            
        a {
            font-size: 16px;
            font-weight: 700;
            color: #466660;
            width: 100%;
            position: relative;
            @include b(tablet) {
                font-size: 14px;
                font-weight: 500;
                color: #777777;
                display: block;

            }
            &:hover {
                overflow: visible;
                opacity: 1;
            }
            
        }

        a::before {
            content: "";
            position: absolute;
            bottom: -9px;
            width: 0;
            left: 0;
            height: 3px;
            transition: all .3s;
            background-color: #FB5018;
            color: #fff;
            @include b(tablet) {
                position: static;
            }
        }
        a:hover::before {
           width: 100%;
        }

        &:hover {
            .header__submenu {
                opacity: 1;
                overflow: visible;
                z-index: 2;
                @include b(tablet) {
                    position: static;
                }
            }
        }
    }

    &__submenu{
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        width: 65%;
        margin: 0 auto;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        overflow: hidden;
        opacity: 0;
        background-color: #F4F4F4;
        border-radius: 0 0 6px 6px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        @include trs;
        z-index: -2;
        @include b(tablet) {
            max-height: 100%;
            width: 100%;
            display: none;
        }
        // &.active {
        //     display: flex;
        // }
    }
}
