@import "fonts.scss";
@import "mixins.scss";


body {
    margin: 0;
    min-width: 320px;
    font-size: 16px;
    font-family: 'Montserrat' , sans-serif , Arial;
    font-weight: 400;
}

.overflow {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: #111;
}

button {
    border: none;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, ul , p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
  }

  .wrapper {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .caption {
    font-size: 48px;
    display: block;
    font-weight: 700;
    color: #16182D;
    @include b(tablet) {
        font-size: 35px;
    }
    @include b(mobile) {
        font-size: 25px;
    }
    @include b(468) {
        font-size: 25px;
    }
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat' , sans-serif , Arial;
    background-color: #FB5018;
    border-radius: 16px;
    text-align: center;
    padding: 13px 27px;
    color: #fff;
    cursor: pointer;
    @include trs;

    &:hover {
        background-color: #0000FF;
    }

  }

  .--hover__btn {
    &:hover {
        background-color: #1ed013;
    }
  }

  input[type=text]{
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid #cccc;
    background: none;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #111;
    transition: all .2s;
    @include b(490) {
        font-size: 12px
    }
    &::placeholder {
        color: #000;
    }
    &:focus {
        border-color: #282b31;
    }
}

input[type=file]{
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 24px;
    border: 2px dashed #cccc;
    background: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #fff;
    transition: all .2s;
    &::placeholder {
        color: #FFFFFF;
    }
    &:focus {
        border-color: #282b31;
    }

    
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    +label {
        width: 100%;
        padding: 15px 40px;
        font-size: 14px;
        font-family: "Montserrat";
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        border: 2px dashed #FFFFFF;
        background: none;
        border-radius: 5px;
        display: inline-block;
    }
}

textarea {
    display: block;
    width: 100%;
    height: 210px;
    resize: none;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid #cccc;
    background: none;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #000;
    transition: all .2s;
    @include b(490) {
        font-size: 12px;
    }

    &::placeholder {
        color: #000;
    }
    &:focus {
        border-color: #282b31;
    }
}

select {
    display: block;
    width: 100%;
    height: 50px;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid #ccc   ;
    background: none;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #000;
    transition: all .2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    @include b(490) {
        font-size: 12px;
    }
}

option {
    color: #000;
    font-size: 14px;
    font-family: "Montserrat";
    @include b(490) {
        font-size: 12px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}



